body 
{ 
    font-size: 20;
    font-family: 'Times New Roman';
    background-color: rgb(241, 212, 169);
  }
.white_text
{
    color: white;
}
.big_text
{
    font-size: 40;
}
.green_text
{
    color: green;
}
.header
{
    color: rgb(57, 39, 0);
    text-align: justify
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(146, 90, 45);
  }
  
.menu {
    float: right;
  }
  
li a {
    display: block;
    color: rgb(57, 39, 0);
    
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #884b22;
  }
  .border1
  {
    border-style: dashed;
    border-color: blue;
  }
  .border2
  {
    border-style: solid;
    border-color: rgb(154, 113, 69);
  }
  #bordertwo {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 8px;
    max-width: 100%;
    height: 82vh;
    padding: 10px; /* Add padding to create space between border and content */
}

  .middleheader
  {
  text-align: center;
  color: rgb(146, 90, 45);
  }
  /* Additional inline style for positioning */
  .sidetext {
    float: right; /* Floats the div to the right */
    width: calc(50% - 10px); /* Calculates the width for equal spacing */
    margin-left: 20px; /* Adds some margin between the div and the images */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-end; /* Align items to the right */
}

.sidetext h3, .sidetext p {
    margin: 0; /* Remove default margins for h3 and p */
}
.sideimage {
  max-width: 50%; /* Set a maximum width for the images */
  height: auto; /* Maintain aspect ratio */
  display: inline-block;
  vertical-align: top;
}
