body 
{ 
    font-size: 20;
    font-family: 'Times New Roman';
    background-color: rgb(241, 212, 169);
  }
.white_text
{
    color: white;
}
.big_text
{
    font-size: 40;
}
.green_text
{
    color: green;
}
.header
{
    color: rgb(57, 39, 0);
    text-align: justify
}


.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(146, 90, 45);
  position: fixed;
  top: 0;
  z-index: 1; /* Higher z-index */
  }
  
.menu {
    float: right;
  }
  
li a {
    display: block;
    color: rgb(57, 39, 0);
    
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #884b22;
  }
  .border1
  {
    border-style: dashed;
    border-color: blue;
  }
  .border2
  {
    border-style: solid;
    border-color: rgb(154, 113, 69);
  }
  #bordertwo {
    max-width: calc(100% - 20px); /* Adjusted width */
    margin: 60px auto 0; /* Added margin and centered */
    padding: 0px;
    margin-top:150px;
    box-sizing: border-box;
    border: 8px solid rgb(0, 0, 0);
    position: relative;
    z-index: 0;
}

  .middleheader
  {
  text-align: center;
  color: rgb(146, 90, 45);
  }
  /* Additional inline style for positioning */
  .sidetext {
    float: right; /* Floats the div to the right */
    width: calc(50% - 10px); /* Calculates the width for equal spacing */
    margin-left: 20px; /* Adds some margin between the div and the images */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-end; /* Align items to the right */
}

.sidetext h3, .sidetext p {
    margin: 0; /* Remove default margins for h3 and p */
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sideimage {
  max-width: 100%;
  height: auto;
  flex: 0 0 calc(50% - 10px); /* Each image takes up half of the container with some spacing */
  margin: 5px;
}
h1, h2, h3
{
  color:rgb(146, 90, 45)
}
.fixcolor
{
  color: rgb(57, 39, 0)
}
#righttext
{
  text-align: right;
}
.midalign
{
  text-align: center;
}